# This file can add Kconfig settings which are specific to the current board.
# A board specific setting should be defining a custom setting and usually with a prompt

config PIPAR_POINT_RIGHT
    bool "Pipar Point Right"
    default n
    help
      Select this option to build for the right side of the Pipar Point keyboard.

config PIPAR_POINT_LEFT
    bool "Pipar Point Left"
    default n
    help
      Select this option to build for the left side of the Pipar Point keyboard.

config PIPAR_POINT_TRACKPOINT
    bool "Pipar Point Trackpoint"
    select SERIAL
    select UART_ASYNC_API
    default n
    depends on PIPAR_POINT_RIGHT
    help
      Select this option to enable Trackpoint support on the Pipar Point keyboard.

