
CONFIG_PIPAR_POINT_RIGHT=y

CONFIG_ZMK_POINTING=y
CONFIG_ZMK_POINTING_SMOOTH_SCROLLING=y

CONFIG_ZMK_BLE_EXPERIMENTAL_FEATURES=y
CONFIG_ZMK_BLE_PASSKEY_ENTRY=y

CONFIG_ZMK_KEYBOARD_NAME="Pipar Point"
CONFIG_ZMK_SPLIT_ROLE_CENTRAL=y
CONFIG_ZMK_STUDIO=y
CONFIG_ZMK_USB=y

CONFIG_ZMK_USB_LOGGING=y
CONFIG_ZMK_LOGGING_MINIMAL=y
CONFIG_PS2_LOG_LEVEL_DBG=n
CONFIG_UART_LOG_LEVEL_DBG=n
CONFIG_LOG_MODE_IMMEDIATE=n
CONFIG_CBPRINTF_COMPLETE=y

CONFIG_SERIAL=y