CONFIG_PIPAR_POINT_LEFT=y

# Battery reporting
CONFIG_ZMK_BATTERY_REPORTING_FETCH_MODE_NPM1300_DIRECT=y
CONFIG_ZMK_BATTERY_PROFILE_YDL375678=y

# Battery low LED indicator
CONFIG_PIPAR_BATTERY_INDICATOR=y
CONFIG_PIPAR_BATTERY_LOW_THRESHOLD=20
