&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&adc {
  status = "okay";
};

&gpiote {
  status = "okay";
};

&gpio0 {
  status = "okay";
};

&gpio1 {
  status = "okay";
};

zephyr_udc0: &usbd {
  status = "okay";
};

&pwm0 {
  status = "okay";
  pinctrl-0 = <&pwm0_default>;
  pinctrl-1 = <&pwm0_sleep>;
  pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	npm1300: pmic@6b {
		compatible = "nordic,npm1300";
		reg = <0x6b>;

    npm1300_leds: leds {
			compatible = "nordic,npm1300-led";
			nordic,led0-mode = "error";
			nordic,led1-mode = "charging";
			nordic,led2-mode = "host";
		};
		regulators {
			compatible = "nordic,npm1300-regulator";

			buck1: BUCK1 {
				regulator-boot-off;
        status = "disabled";
			};

      buck2: BUCK2 {  
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
        regulator-always-on;
			};  

			ldo1: LDO1 {
				status = "disabled";
			};

			ldo2: LDO2 {
				status = "disabled";
			};
		};

		charger: charger {
			compatible = "nordic,npm1300-charger";
      term-microvolt = <4200000>;          /* 4.2 V full charge */
      term-warm-microvolt = <4000000>;     /* 4.0 V if warm (JEITA region) */
      current-microamp = <500000>;         /* 0.2 C = 500 mA charge current */
      term-current-percent = <10>;         /* terminate when current ≤ 0.1 C = 250 mA */
      dischg-limit-microamp = <1000000>;   /* allow 1 A discharge */
      vbus-limit-microamp = <500000>;      /* USB current limit 500 mA */
      /* No thermistor (disable NTC) */
      thermistor-ohms = <0>;
      thermistor-beta = <0>;
			charging-enable;
		};
	};
};

&flash0 {
    /*
     * For more information, see:
     * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
     */
  partitions {
    compatible = "fixed-partitions";
    #address-cells = <1>;
    #size-cells = <1>;

    sd_partition: partition@0 {
      reg = <0x00000000 0x00026000>;
    };
    code_partition: partition@26000 {
      reg = <0x00026000 0x000c6000>;
    };

    /*
      * The flash starting at 0x000ec000 and ending at
      * 0x000f3fff is reserved for use by the application.
      */

    /*
      * Storage partition will be used by FCB/LittleFS/NVS
      * if enabled.
      */
    storage_partition: partition@ec000 {
      reg = <0x000ec000 0x00008000>;
    };

    boot_partition: partition@f4000 {
      reg = <0x000f4000 0x0000c000>;
    };
  };
};