if BOARD_PIPAR_CHIP

config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default y

config ZMK_KEYBOARD_NAME
    default "Pipar Chip"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_PIPAR_CHIP
